<!DOCTYPE html>
<html>
<head>
    <title>Flat ChatBox</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="name">
        <p>
            ChaChaChatBox
        </p>
    </div>
    <div id = "container">
        <div class="gif">
            <img src="bot.gif" width = 200 height = 240 />
        </div>
        <div class="chatbox">
            <div class="chatlogs">
                <div class="chat bot">
                    <div class="user-pic">
                        <!img src="1.jpg">
                    </div>
                    <p class="chat-message">Heiii...</p>
                </div>
                <div class="chat self">
                    <div class="user-pic">
                        <!img src="2.jpg">
                    </div>
                    <p class="chat-message">Holla..</p>
                </div>
                <div class="chat bot">
                        <div class="user-pic">
                            <!img src="1.jpg">
                        </div>
                        <p class="chat-message">yoo...</p>
                </div>
                <div class="chat self">
                        <div class="user-pic">
                            <!img src="2.jpg">
                        </div>
                        <p class="chat-message">wasdaw.</p>
                    </div>
                <div class="chat bot">
                    <div class="user-pic">
                        <!img src="1.jpg">
                    </div>
                    <p class="chat-message">agesde</p>
                </div>
                <div class="chat self">
                    <div class="user-pic">
                        <!img src="2.jpg">
                    </div>
                    <p class="chat-message">asdeds</p>
                </div>
                <div class="chat bot">
                        <div class="user-pic">
                            <!img src="1.jpg">
                        </div>
                        <p class="chat-message">sdcsef</p>
                </div>
                <div class="chat self">
                        <div class="user-pic">
                            <!img src="2.jpg">
                        </div>
                        <p class="chat-message">ssetdgse.</p>
                </div>
            </div>
            <div class="chat-form">
                <textarea></textarea>
                <button>Send</button>
            </div>
        </div>
    </div>
    
</body>
</html>